* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 25.6rem;
  font-weight: 100;
  cursor: pointer;
  transition: 0.6s;
}

.title:hover {
  font-weight: 900;
}
