* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

.title {
  font-size: 25.6rem;
  font-weight: 100;
  cursor: pointer;
  transition: 0.6s;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 8rem;
  }
}

.title:hover {
  font-weight: 900;
}
